<div class="container">
     <h2>Feeds  </h2>
    <div *ngIf="feedsData">
      <a *ngFor="let feed of feedsData"  routerLink="/feed/{{feed.slug.toLowerCase()}}" >
        <div >
           <img src="{{feed.image}}" width="100px" height="100px"/>
          <small>{{ feed?(feed.created_datetime | date :'mediumDate'):'' }}</small>
        </div>
        <h5 >{{feed.title}}</h5>
        <p >{{ (feed.description.length>150)? (feed.description | slice:0:150)+' ....':(feed.description) }}
        </p>
      </a>
    </div>
</div>
